<html><head>
  <title>Embed Maker - View mode</title>
  <meta name="og:site_name" content="<%= embed.header %>">
  <meta property="og:title" content="<%= embed.title %>">
  <meta property="og:description" content="<%= embed.description %>">
  <meta name="theme-color" content="<%= embed.color %>">
  <meta property="og:image" content="<%= embed.image %>">
  <meta name="twitter:card" content="<%= embed.bigimg ? 'summary_large_image' : 'summary' %>">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head><body>
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-5402646688760293"
  data-ad-slot="7618962343"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
  ad skip: <span class="left">5</span> sec. left
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});

    let left = 5
    setInterval(() => {
      if (left < 1) return
      left -= 0.1
      document.getElementsByClassName('left')[0].innerHTML = Math.round(left * 10) / 10
    }, 100)
    setTimeout(() => {
      window.location.replace("/edit/<%= id %>")
    }, 5000)
  </script>
</body></html>
